academic-assignment-helper/n8n_workflows/academic-assignment-helper.json
{
  "name": "academic-assignment-helper",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assignment",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f32cb9b6-e71f-4b9f-b398-cd2976a6194c",
      "name": "Webhook",
      "webhookId": "57f61b20-4b5f-4777-9f7a-afb7c8cb7638"
    },
    {
      "parameters": {
        "fileSelector": "=/app/data/uploads/{{ $json.body.filename }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "e43b2a15-5963-41fa-a9d1-c3ac100be4cb",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1d02fb7e-de17-43ee-8534-16081d26e67d",
              "leftValue": "={{ $json.fileName }}",
              "rightValue": ".docx",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "be805a51-2798-4e78-a65e-6bf78dc3b65e",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-docx-converter.docxToText",
      "typeVersion": 1,
      "position": [
        656,
        -112
      ],
      "id": "842361a7-8a7e-4c46-860d-ab8d7fec4d4a",
      "name": "DOCX to Text"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        656,
        96
      ],
      "id": "1a343cb5-7376-4dd0-bebf-1da22b894855",
      "name": "Extract from File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        928,
        -32
      ],
      "id": "00fc8f39-8909-4550-b46c-27553a7aeeca",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://academic_fastapi:8000/analysis/ack",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "assignment_id",
              "value": "={{ $('Webhook').item.json.body.assignment_id }}"
            },
            {
              "name": "student_email",
              "value": "={{ $('Webhook').item.json.body.student_email }}"
            },
            {
              "name": "status",
              "value": "text_extracted"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        -32
      ],
      "id": "da127dd4-370c-4312-a9c4-0d73e4f6844f",
      "name": "HTTP Request"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n:5678",
            "user-agent": "python-requests/2.32.5",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "connection": "keep-alive",
            "content-length": "126",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "assignment_id": 8,
            "student_email": "try21@try.com",
            "filename": "Balancing Speed and Precision in AI Governance (21).docx"
          },
          "webhookUrl": "http://n8n:5678/webhook-test/assignment",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "DOCX to Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DOCX to Text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a2cb6d7f-cb94-460b-be6c-d1e310b1c49d",
  "meta": {
    "instanceId": "32c50b20d72c7c9bfaaa0d76e194e3372cb03ee3e817ed2ed45ecefaa1ef3f42"
  },
  "id": "z4mXCc3co7vS5tap",
  "tags": []
}